# Ignore all Unity game scene build folders
GameSceneEasyMode/** linguist-vendored
GameSceneMediumMode/** linguist-vendored
GameSceneHardMode/** linguist-vendored

# Explicitly ignore ASP.NET pages from the Mono/Unity runtime
*.aspx linguist-vendored
*.aspx linguist-detectable=false
